.constructor-body {
    overflow-y: scroll;
    max-height: 585px;
    margin-left: -6px;
    padding-right: 14px;
}
.constructor-body::-webkit-scrollbar {
    width: 8px;
}
.constructor-body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px #2F2F37;
}
.constructor-body::-webkit-scrollbar-thumb {
    background-color: #8585AD;
    outline: 1px solid slategrey;
}
.total-sum svg {
    width: 33px;
    height: 33px;
}