.tab_body {
    overflow-y: scroll;
    max-height: 680px;
}
.tab_body::-webkit-scrollbar {
    width: 8px;
}
.tab_body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px #2F2F37;
}
.tab_body::-webkit-scrollbar-thumb {
    background-color: #8585AD;
    outline: 1px solid slategrey;
}
